# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# data
entries_Day01.json

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


# stuff
emails.txt
privateEntries.json
entries_backup.json
tournamentEntries_backup.json
tournamentEntriesRound1.json

CLI-backup.js
