html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.App {
  height: 100%;
  width: 100%;
  text-align: center;

  background: linear-gradient(purple, white);

  object-fit: contain;
}

.Logo-container {
  margin: auto;
  /* margin-left: 13%; */
  
  height: 300px;
  width: 100%;

  padding-top: 50px;
  margin-bottom: 20px;

  /* object-fit: contain; */
}

.Logo {
  height: 100%;
  border: 3px solid purple;
  border-radius: 25px;
  box-shadow: 4px 4px black;
}

.Logo:active {
  box-shadow: 2px 2px black;
  transform: translateY(2px);
}

.TournamentText-container {
  font-size: 18px;
  background-color: azure;

  border-radius: 25px;

  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;

  padding: 10px;

  width: 50%;
}

.LeaderBoard-container {
  background-color: azure;

  margin: auto;
  /* height: 500px; */
  width: 60%;
  margin-bottom: 25px;

  border-radius: 25px;

  border: 2px solid black;
  box-shadow: 4px 4px black;
}

.LeaderBoard-header {
  font-size: 48px;

  padding: 20px 0;
  
  width: 100%;
  border-radius: 25px;
  background: linear-gradient(rgba(162, 233, 255, 0.8), azure)
}

.Score {
  margin: auto;

  border-radius: 25px;
  border: 1px solid white;

  padding: 24px;
  margin-top: 8px;
  margin-bottom: 8px;
  width: 60%;

  background-color: purple;
  color: white;
}

.player {
  font-weight: 800;
  font-size: 24px;

  padding: 3px;
  border-radius: 25px;
  
  /* background-color: rgb(231, 163, 240); */
  color: white;
}

.player-score {
  font-weight: 800;
  font-size: 24px;

  padding: 1px;
  border-radius: 25px;

  /* background-color: rgb(211, 72, 230); */
  color: white;

  float: left;
  padding-left: 16px;
}

.SearchScore-container {
  margin: auto;
  /* background-color: yellow; */
  width: 100%;
}

.SearchBar {
  margin: 10px;
  font-size: 24px;
  height: 30px;
}