html {
  height: 100%;
  width: 100%;
  overflow: scroll;
  overflow-x: hidden;
  background-color: black;
}

::-webkit-scrollbar {
  width: 0px; /* remove scrollbar space */
  background: transparent; /* optional: just make scrollbar invisible */
}

body {
  height: 100%;
  width: 100%;

  margin: 0;
  padding: 0;

  font-family: Georgia, 'Times New Roman', Times, serif;
  /* overflow: hidden; */
}

h1 {
  margin: 0px;
  font-size: 3vh;
}

h2 {
  margin: 16px;
}

h3 {
  margin: 12px;
}
.NavBar > ul > li {
  float: left;
}
.NavBar {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.LayoutHome {
  height: 100%;
  width: 100%;
  text-align: center;
  object-fit: contain;

  background-color: white;
}

.LayoutScores {
  height: 100%;
  width: 100%;
  text-align: center;

  /* background: linear-gradient(black, white); */
  background-color: black;
  object-fit: contain;
}

.Logo-container {
  margin: auto;

  height: 200px;
  width: 100%;

  padding-top: 40px;
  margin-bottom: 20px;
}

.Logo {
  height: 100%;
  /* border: 2vh solid purple; */
  /* border-radius: 25px; */
  /* box-shadow: 2px 2px 28px #FFDF64; */
  /* FOR TWITTER */
  float: left;
  margin-left: 80px;
  border-radius: 100px;

  /* border: 0.3vh solid black; */
  box-shadow: 4px 4px 28px #ffdf64;
}

/* Twitter Handle */
.handle {
  height: 100%;
  width: 100%;
  font-size: 5vh;
  margin-top: 2.5vh;
  color: white;
  text-shadow: 4px 4px 8px rgb(88, 87, 87);
}

/* .Logo:active {
  box-shadow: 2px 2px black;
  transform: translateY(2px);
} */

.TournamentText-container {
  font-size: 24px;
  /* font-size: 1.3vh; */
  background-color: azure;

  border: 0.3vh solid #ffdf64;
  box-shadow: 4px 4px 28px #ffdf64;
  border-radius: 25px;

  margin: auto;
  margin-top: 30px;
  margin-bottom: 0px;

  padding: 10px;

  width: 95%;
  transform: scale(0.9);
}

.two-ways {
  margin: auto;
  margin-top: 0.7vh;
  /* text-emphasis: 800; */
  font-size: 2vh;

  background-color: #65a2d9;
  color: white;

  border-radius: 25px;
  width: 30%;
  box-shadow: 2px 2px black;
  text-shadow: 2px 2px black;
}

.twitter {
  /* transform: scale(1.2); */
  background-color: #ffdf64;

  padding: 3px;
  border-radius: 25px;
}

.twitter a {
  text-decoration: none;
  color: black;
}

.LeaderBoard-container {
  background-color: azure;

  margin: auto;
  width: 80%;
  margin-bottom: 25px;

  border-radius: 25px;

  border: 0.3vh solid #ffdf64;
  box-shadow: 4px 4px 28px #ffdf64;
}

.LeaderBoard-header {
  font-size: 2vh;

  padding: 16px 0;

  width: 100%;
  border-radius: 25px;
  /* background: linear-gradient(rgba(162, 233, 255, 0.8), azure) */
}

.Score {
  margin: auto;

  border-radius: 25px;
  /* border: 1px solid white; */

  padding: 18px;
  margin-top: 4px;
  margin-bottom: 4px;
  width: 80%;

  background-color: black;
  color: red;
}

.top {
  border: 0.2vh solid purple;
  box-shadow: 0.5vh 0.5vh 2vh purple, -0.5vh -0.5vh 2vh purple;
  margin-bottom: 1vh;
  transform: scale(1.1);
}

.top3 {
  border: 0.3vh solid #ffdf64;
}

.Score:last-child {
  margin-bottom: 16px;
}

.player {
  font-weight: 800;
  /* font-size: 1.5vh; */
  font-size: 28px;

  padding: 2px;
  border-radius: 25px;
  color: #ffdf64;
}

.player-score {
  font-weight: 800;
  /* font-size: 1.8vh; */
  font-size: 40px;

  padding: 0px;
  margin: 0px;
  border-radius: 25px;

  color: white;

  float: right;
  padding-right: 24px;
}

.unavailable {
  color: black;
  margin-left: 10px;
  background-color: rgba(50,50,50, 1);
  border-radius: 10px;
  padding: 4px;
}

.place {
  font-weight: 800;
  /* font-size: 4vh; */

  /* unsafe */
  font-size: 40px;
  /* margin: auto; */
  /*        */

  padding: 1px;
  border-radius: 25px;

  color: white;

  float: left;
  /* padding-left: 24px; */
}

.SearchScore-container {
  margin: auto;
  width: 100%;
}

.SearchBar {
  margin: 0.3vh;
  margin-bottom: 1.5vh;
  font-size: 2vh;
}

.noResults {
  font-size: 2vh;
}

.out-of {
  font-size: 2vh;
  margin-top: 1vh;
}

.searchQuestion {
  color: #ffdf64;
}

/* ____________________Media Queries__________________*/
@media screen and (max-width: 650px) {
  .Logo-container {
    height: 60px;
    width: 100%;
    padding-top: 20px;
    margin-bottom: 3vh;
  }
  .TournamentText-container {
    margin-top: 5px;
    margin-bottom: 10px;

    font-size: 2vh;

    padding: 4px;

    width: 85%;
  }
  .LeaderBoard-container {
    width: 80%;
  }
  .Score {
    padding: 8px;
    margin-top: 4px;
    margin-bottom: 4px;
    width: 70%;
  }
  .player {
    font-size: 3vh;
  }
  .player-score {
    font-size: 3vh;
    padding-right: 8px;
  }
  .twitter {
    padding: 0px;
  }
  .SearchBar {
    font-size: 4vh;
  }
  .place {
    font-size: 3vh;
  }
  .handle {
    /* float: left; */
    margin-left: 3vh;
    font-size: 24px;
    /* font-size: 6vw; */
  }
  .Logo {
    margin-left: 30px;
  }
}

/* 
@media screen and (max-width: 1000px) {
  .handle{
    font-size: 8vh;
  }
} */
/*___________________________________________*/

/* Animations */

/* Declare */
.handle {
  animation: pulse 8s infinite;
}

.unavailable {
  animation: pulseColor 4s infinite;
}

/* Define */
@keyframes pulse {
  0% {
    transform: scale(1.0);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1.0);
  }
}

@keyframes pulseColor {
  0% {
    color: black;
  }

  50% {
    color: rgb(255, 255, 148);
  }

  100% {
    color: black;
  }
}