html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;

  font-family: Georgia, 'Times New Roman', Times, serif;
}

.App {
  height: 100%;
  width: 100%;
  text-align: center;

  /* background: linear-gradient(black, white); */
  background-color: black;
  object-fit: contain;
}

.Logo-container {
  margin: auto;
  
  height: 300px;
  width: 100%;

  padding-top: 50px;
  margin-bottom: 20px;

}

.Logo {
  height: 100%;
  /* border: 2vh solid purple; */
  border-radius: 25px;
  box-shadow: 2px 2px 28px #FFDF64;
}

.Logo:active {
  box-shadow: 2px 2px black;
  transform: translateY(2px);
}

.TournamentText-container {
  font-size: 3vh;
  background-color: white;

  border: 0.75vh solid #FFDF64;
  border-radius: 25px;

  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;

  padding: 10px;

  width: 50%;
}

.LeaderBoard-container {
  background-color: azure;

  margin: auto;
  width: 60%;
  margin-bottom: 25px;

  border-radius: 25px;

  border: 1vh solid #FFDF64;
  box-shadow: 4px 4px black;
}

.LeaderBoard-header {
  font-size: 7vh;

  padding: 20px 0;
  
  width: 100%;
  border-radius: 25px;
  /* background: linear-gradient(rgba(162, 233, 255, 0.8), azure) */
}

.Score {
  margin: auto;

  border-radius: 25px;
  border: 1px solid white;

  padding: 24px;
  margin-top: 8px;
  margin-bottom: 8px;
  width: 60%;

  background-color: black;
  color: red;
}

.top3 {
  /* background: linear-gradient(black, white); */
  /* transform: scale(1.2); */
  border: 1vh solid #FFDF64;
}

.Score:last-child {
  margin-bottom: 16px;
}

.player {
  font-weight: 800;
  font-size: 6vh;
  

  padding: 3px;
  border-radius: 25px;
  
  color: #FFDF64;
}

.player-score {
  font-weight: 800;
  font-size: 6vh;

  padding: 1px;
  border-radius: 25px;

  color: white;

  float: left;
  padding-left: 16px;
}

.SearchScore-container {
  margin: auto;
  width: 100%;
}

.SearchBar {
  margin: 10px;
  font-size: 6vh;
}

.noResults {
  font-size: 4vh;
}

.searchQuestion {
  color: #FFDF64;
}
                  /*          Media Queries       */
@media screen and (max-width: 650px) {
  .Logo-container {
    height: 150px;
    width: 100%;
    padding-top: 20px;
    margin-bottom: 5vh;
  }
  .TournamentText-container {
    margin-top: 5px;
    margin-bottom: 10px;
  
    padding: 4px;
  
    width: 85%;
  }
  .LeaderBoard-container {
    width: 80%;
  }
  .Score {
    padding: 8px;
    margin-top: 4px;
    margin-bottom: 4px;
    width: 70%;
  }
  .player {
    font-size: 3vh;
  }
  .player-score {
    font-size: 3vh;
    padding-left: 8px;
  }
}